/*
This file is for setting overrides for elements like <body> or <a>.
It can also be used to define variables.
*/

@font-face {
  font-family: 'CMU Serif';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/cmunrm.ttf') format('truetype');
}

@font-face {
  font-family: 'CMU Serif';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/cmunti.ttf') format('truetype');
}

@font-face {
  font-family: 'CMU Serif';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/cmunbx.ttf') format('truetype');
}

@font-face {
  font-family: 'CMU Serif';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/cmunbi.ttf') format('truetype');
}

a {
  color: inherit;
  text-decoration: inherit
}

dialog {
  padding: 0;
  border: none;
}

:root {
  overscroll-behavior: none;
  --off-white: #fff5ee;
  --off-black: #0e0e10;
  --dark-blue: #0f1424;
  --font-serif: 'CMU Serif', 'Computer Modern Serif', 'Latin Modern Roman', Didot, 'Bodoni MT', 'Noto Serif Display', serif;
  --font-sans: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  background-color: var(--off-white)
}

html:has(#site-overlay:target),
body:has(#site-overlay:target) {
  overflow: hidden;
  height: 100vh;
}
